body {
    background-color: #a9a9a9;
    font-size: 14px;
}

body>header {
    text-align: center;
    font-size: 1.3em;
}

article>header {
    font-size: 1.4em;
}

h1 {
    color: #fafad2;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
}

ul a {
    color: #fafad2;
    font-weight: bold;
}

li:nth-child(2) > a {
    background-color: #d3d3d3;
}

li:nth-last-child(1) > a {
    text-decoration: underline;
}

section footer {
    font-size: 0.9em;
}

body > footer {
    text-align: center;
}